[user]
	name = Adriano Bacha
	email = abacha@gmail.com
[color]
	ui = auto
[github]
	user = abacha
	token = $GITHUB_TOKEN
[merge]
  tool = nvim
[diff]
  tool = nvim -d
[dude]
	interval = 60
[alias]
  a = add
  amend = commit --amend --no-edit
  ap = add --patch
  b = branch
  ci = commit -m
  co = checkout
  dc = diff --cached
  di = diff
  fp = fetch --prune
  h = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset' --all --date=relative
  l = log --pretty=\"format:%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset\" --all
  rb = rebase
  rbm = rebase origin/master
  s = status -s
  st = status
  pop = stash pop
  sq = rebase HEAD~20 -i --autosquash
	fixup-first = "!f(){\n  base=\"$(git symbolic-ref --quiet --short refs/remotes/origin/HEAD 2>/dev/null | sed 's#^origin/##')\";\n  if [ -z \"$base\" ]; then\n    if git show-ref --verify --quiet refs/remotes/origin/main; then\n      base=main;\n    else\n      base=master;\n    fi\n  fi\n  git commit --fixup=$(git rev-list --reverse --max-count=1 --grep=\"^fixup! \" --grep=\"^squash! \" --invert-grep HEAD ^origin/$base);\n}; f"
[push]
	default = matching
[branch]
	autosetuprebase = always
[rebase]
  autosquash = true
[pull]
	rebase = true
