[submodule "bundle/ervandew_supertab"]
	path = bundle/ervandew_supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/tpope_vim-pathogen"]
	path = bundle/tpope_vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/tpope_vim-fugitive"]
	path = bundle/tpope_vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/tpope_vim-git"]
	path = bundle/tpope_vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/kien_ctrlp.vim"]
	path = bundle/kien_ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/garbas_vim-snipmate"]
	path = bundle/garbas_vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/honza_snipmate-snippets"]
	path = bundle/honza_snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "bundle/tpope_vim-commentary"]
	path = bundle/tpope_vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/mileszs_ack.vim"]
	path = bundle/mileszs_ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/mutewinter_vim-ident-guides"]
	path = bundle/mutewinter_vim-ident-guides
	url = https://github.com/mutewinter/vim-indent-guides.git
[submodule "bundle/mattn_gist-vim"]
	path = bundle/mattn_gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/vim-ruby_vim-ruby"]
	path = bundle/vim-ruby_vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/altercation_colors-solarized"]
	path = bundle/altercation_colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/tpope_vim-rails"]
	path = bundle/tpope_vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/tpope_vim-endwise"]
	path = bundle/tpope_vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/tpope_vim-haml"]
	path = bundle/tpope_vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "bundle/MarcWeber_vim-addon-mw-utils"]
	path = bundle/MarcWeber_vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/mileszs_ack"]
	path = bundle/mileszs_ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-scripts_ZoomWin"]
	path = bundle/vim-scripts_ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/tomtom-tlib_vim"]
	path = bundle/tomtom-tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/mattn_webapi-vim"]
	path = bundle/mattn_webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "bundle/jpalardy_vim-slime"]
	path = bundle/jpalardy_vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "bundle/tpope_vim-bundler"]
	path = bundle/tpope_vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "bundle/majutsushi-tagbar"]
	path = bundle/majutsushi-tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "kchmck_vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "sjl_gundo.vim"]
	path = bundle/sjl_gundo.vim
	url = https://github.com/sjl/gundo.vim.git
